.linkLogin {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;

}

.linkLogin, .linkLogin:hover, .linkLogin:active {
    text-decoration: none;
    color: inherit;
}

.logoutBtn {
    height: 30px;
    width: 30px;
}