.WorkerCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 256px;
    height: 100%;
    background-color: #424242;
    border-radius: 12px;
    padding: 8px;
    box-sizing: border-box;
}

.walletWorkerConnectButton {
    appearance: none;
    background-color: transparent;
    border: 3px solid #52b788;
    color: #52b788;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    height: 56px;
    will-change: transform;
    margin-top: 8px;
}
  
.walletWorkerConnectButton:disabled {
    pointer-events: none;
    border: 3px solid #323232;
    color: #323232;
}
  
.walletWorkerConnectButton:hover {
    background-color: #52b788;
    color: #ffffff;
    transform: scale(1.01)
}
  
.walletWorkerConnectButton:active {
    box-shadow: none;
    transform: translateY(0);
}

.sendEthWorkerButton {
    appearance: none;
    background-color: transparent;
    border: 3px solid #52b788;
    color: #52b788;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    height: 56px;
    will-change: transform;
    text-transform: uppercase;
    margin-top: 8px;
}
  
.sendEthWorkerButton:disabled {
    pointer-events: none;
    border: 3px solid #323232;
    color: #323232;
}
  
.sendEthWorkerButton:hover {
    background-color: #52b788;
    color: #ffffff;
    transform: scale(1.01)
}
  
.sendEthWorkerButton:active {
    box-shadow: none;
    transform: translateY(0);
}