.MainPage {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 100%;
    width: 80%;
    align-items: center;
}

.hold {
    display: flex;
    background-color: #323232;
}

.hd1 {
    width: 80%;
    height: 56px;
    border-radius: 32px;
    margin-top: 32px;
}

.videoBg {
    position: absolute;
    margin-left: 0;
    margin-top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}