.EtherCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 256px;
    width: 100%;
    background-color: #323232;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 12px;
    color: #ffffff;
    z-index: 100;
    right: 0;
    top: 0;
}

.txList {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    height: 100%;
    width: 300px;
    padding: 8px;
}

.payment {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    word-break:break-all;
    word-wrap: break-word;
    font-size: 12px;
    background-color:chocolate;
    margin-top: 8px;
}